
# Test cases for reading configuration values from a file
#

   my own name = my own\# value

   retries = 25 # Number of retries

   AnotherTestVar = this = is = a=test=var # Check we get this field ok
  #
  # A small test to check if it works with empty values
emptyValue=

FaultyLine
# Above line has no value, must be ignored
